.leftBlock {
    width: 35%;
    display: inline-block;

}


.rightBlock {
    width: 60%;
    display: inline-block;

}

.placeItem{
    width: 100%;
    height: 200px;
    background: #cccccc;
    padding: 20px;
    border: 1px solid #ffffff;
}